<web-app>

    <servlet>
       <servlet-name>sumOfTwoNumbers</servlet-name>
       <servlet-class>main.java.OngetParameter</servlet-class>
    </servlet>

    <servlet-mapping>
       <servlet-name>sumOfTwoNumbers</servlet-name>
       <url-pattern>/sum</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
       <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>